.DS_Store
.venv/
__pycache__/

*.egg-info/

data/*/*/variants/*/solution/
data/*/*/variants/*/template/
data/*/*/variants/*/tests/
data/*/*/variants/*/problem-statement.md
data/*/*/variants/*/exercise-details.json

